<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<title>第一个vuejs页</title>
	</head>
	<body>
		<!--模板语法 直接差值 {{}}-->
		<div id="app" v-bind:title="message">{{name}}<span v-html="rawHtml"></span></div>
		<div id="app2" >
			 <span v-if="seen">{{cont}}</span>
			 <span v-else="seen">无</span>
		</div>
		<!--v-bind:id 绑定id属性-->
		<div id="app4" v-bind:id="dynamicId">
			<ol>
				<li v-for="item in list">
					{{ item.text }}
				</li>
			</ol>
		</div>
	</body>
	<script>
	//第一个例子 可以通过数据实时改变修改内容
		var app=new Vue({
			 el: '#app',
			data:{
				rawHtml:'<li>sdv</li>',//按照html去解析
				name:'now is:'+new Date(),
				 message:'提示消息',
				 seen:true
			}
			
		})
		//if else控制是否渲染dom
		var app2=new Vue({
			 el: '#app2',//作用域
			data:{
                 cont:"需要显示的内容",
				 seen:true
			}
			
		})
		// for循環便利列表
		var app4=new Vue({
			 el: '#app4',//作用域
			data:{
				dynamicId:4,//绑定属性
                 list:[
                 
                 {text:"張三"},{text:"李四"},{text:"王五"},
                 
                 ]
			}
			
		})
		
	</script>
</html>
